.carter-one-regular {
  font-family: "Carter One", system-ui;
  font-weight: 400;
  font-style: normal;
}
.roboto-slab {
  font-family: "Roboto Slab", serif;
}
*{
  font-family: "Roboto Slab";
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:  #000C36;
  max-width: 300px;
  height: auto;
  color: #ffff;
  margin: 0px auto;
  padding: 30px;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header h1{
  font-family: "Carter One";
}

.user-data form{
  display: flex;
  flex-direction: column;
}
.user-data form input{
  background-color: #3B4877;
  color: #ffff;
  padding: 15px;
  height: 30px;
  border: none;
  margin: 7px 0px;
  outline: none;
  border-radius: 7px;

}
.user-data form label{
  padding-top: 20px;
}
button{
  padding: 20px;
  margin-top: 20px;
  border-radius: 7px;
  background-color: #51E08A;
  color: #000C36;
  border: none;
  outline: none;
  font-size: x-large;
  font-weight: bolder;
  cursor: pointer;
  transition: 1s ease-out;
}
button:hover{
  box-shadow: 2px 4px 3px #3B4877;
}

.suggestion h2{
  text-align: center;
}
.suggestion button{
  width: 100%;
}